@font-face {
  font-family: "TT Lakes";
  src: url("asserts/fonts/TTLakesCondensed-Regular.eot");
  src: local("fonts/"), local("fonts/"),
    url("asserts/fonts/TTLakesCondensed-Regular.eot")
      format("embedded-opentype"),
    url("asserts/fonts/TTLakesCondensed-Regular.woff") format("woff"),
    url("asserts/fonts/TTLakesCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes bold";
  src: url("asserts/fonts/TTLakes-Bold.eot");
  src: local("fonts/"), local("fonts/"),
    url("asserts/fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("asserts/fonts/TTLakes-Bold.woff") format("woff"),
    url("asserts/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body,
html {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}
ul,
li {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}
/* Шапка сайта */

.header {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 88px;
  box-shadow: 0px 2px 0px #d9fff5;
}

.header__burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.header__communication {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 5;
}

.header__communication::before {
  display: none;
  content: "";
  width: 2px;
  height: 40px;
  background-color: #eaeaea;

  align-self: center;
}
.header__communication::after {
  display: inline-block;
  content: "";
  width: 2px;
  align-self: center;
  height: 40px;
  background-color: #eaeaea;
}
.header__logo {
  height: 51px;
  margin: auto;
}
.header__hide-buttons {
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.header__call {
  width: 40px;
  height: 40px;
}

.header__chat {
  width: 40px;
  height: 40px;
}
.header__profile {
  width: 40px;
  height: 40px;
}

.header__client {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.header__repair {
  width: 40px;
  height: 40px;
}
.header__check-status {
  width: 40px;
  height: 40px;
}

/* Тело сайта */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f8f8f8;
  min-width: 320px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "TT Lakes bold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-left: 5px;
  margin-top: 24px;
  box-shadow: -5px 0 #41f6d7;
  padding-left: 16px;
  flex-basis: 70%;
}
.nav-menu {
  margin: 16px;
}
.nav-menu__item {
  display: flex;
  align-items: space-between;
  overflow: hidden;
}
.nav-menu__link {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  letter-spacing: 1px;
  white-space: nowrap;

  list-style-type: none;
  padding: 5px 10px;
}

.nav-menu__link:hover {
  background-color: #ffffff;
  border: solid #b8ffec;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.title__h1 {
  font-family: "TT Lakes bold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  text-align: left;
  flex-grow: 1;
}
.title__h1::before {
  box-shadow: -5px 0 #41f6d7;
}
.info__group {
  display: flex;
  flex-direction: column;
}
.info__news {
  max-height: 90px;
  margin-left: 16px;
  overflow: hidden;
  flex-grow: 1;
}
.info__read-more {
  display: flex;
  justify-content: space-around;
  max-width: 132px;
  margin: 16px;
  white-space: nowrap;
}
.info__logo {
  width: 320px;
  height: 240px;
  margin: 0 auto;
}
@media (min-width: 567px) {
  .header__communication::before {
    display: block;
    margin-right: 10px;
  }
  .header__hide-buttons {
    display: inline;
    text-align: right;
    padding: 0 10px;
  }
  .header__logo {
    display: inline;
    /* flex-basis: 25%; */
    text-align: left;
  }
  .nav-menu__link {
    font-size: 20px;
  }
  .info {
    flex-wrap: nowrap;
  }
  .info__news {
    max-height: 230px;
  }
  .info__read-more {
    font-family: TT Lakes;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }
}
@media (min-width: 1100px) {
  body {
    max-width: 1120px;
  }
  .header {
    display: none;
  }
  .nav-menu__item {
    flex-wrap: wrap;
    height: 80px;
  }
  .nav-menu__link {
    font-size: 24px;
  }
  .header__repair {
    display: block;
  }
  .title::after {
    content: "Оставить заявку";
    font-family: "TT Lakes bold";
    font-size: 16px;
    margin-right: 10px;

    width: 170px;
    height: 40px;
    background: url(asserts/images/repair.svg) no-repeat right;

    order: 2;
  }
  .title::before {
    content: "Статус ремонта";
    font-family: "TT Lakes bold";
    font-size: 16px;
    margin-right: 10px;

    width: 170px;
    height: 40px;
    background: url(asserts/images/check-status.svg) no-repeat right;
    order: 3;
}
